/ml/algos/ARTLab/adni_dataset/
/ml/algos/ARTLab/adni_dataset2/
/ml/algos/ARTLab/lfw_dataset/
/ml/algos/ARTLab/email-phishing-dataset/
/ml/algos/ARTLab/data/
/.venv/
ml/algos/ARTLab/model/brain_mri_model.pth
/ml/algos/ARTLab/model/*.pth
